body {
	font-family: "Arial", san-serif;
	color: #000;
	padding: 0;
	margin: 0;
}

button {
  cursor: pointer;
  outline: 0;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: #0d6efd;
}

button:hover, button.playing {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

#page { margin:0 2.5em 2em; }

#content { font-size: 1.4em; }

h1 {
	font-size: 2.4em;
	padding-bottom: .5em;
	border-bottom: 1px solid #333;
}

.content li {
  display:none;
}

button {
  background-color: lightgrey;
  font-size: 1.2em;
}

#choices {
  color: black;
  font-size: 1.5rem; 
  line-height: 2; 
  list-style: none;
  margin: 1em;
  position: relative;
  text-align: center; 
  width: 7em;
}

#choices li {
  position: relative;
  transition: top 3s;
  top: 0;
  width: 12em;
}

#a { background-color: #7FFFD4; }  /* aqua */
#b { background-color: #00BFFF; }  /* blue */
#c { background-color: chocolate; }  /* brown */
#d { background-color: #ffdacc; } /* coral */
#f { background-color: gold; }  /* gold */
#g { background-color: lime; }  /* green */
#i { background-color: indigo; color: white; }   /* indigo */
#l { background-color: #E6E6FA; } /* lavender */
#m { background-color: maroon; color: white; }
#n { background-color: navy; color: white; }  /* navy */
#o { background-color: darkorange; }  /* orange */
#p { background-color: orchid; }  /* purple */
#q { background-color: #FFC0CB; } /* pink */
#r { background-color: red; }  /* red */
#s { background-color: #9CAF88; } /* sage */
#y { background-color: yellow; }  /* yellow */
